@media all and (min-width:701px) and (max-width:900px){
    header{
        width: 700px;
        min-height: 8rem;
    }
    header{
        & h1{
            color: $color-darkBrown;
        }
        &:before, &:after{
            width:230px;
        }
        & h1 i.fa-lg{
            @include fa_lg(inline, $color-darkBrown, baseline, none, 4rem, 6.3968rem);
        }
        & h1 i.fa-lg ~ span{
            float: none;
            letter-spacing: 0.25rem;
            text-align: left;
        }
        & nav{
            position: static;
            padding: 0;
        }
        & nav>ul>li{
            width:20%;
            float: left;
        }
        & nav>ul>li>a{
            font-size: 1rem;
            line-height: 2rem;
            min-height: 6rem;
            border:none;
            border-left:1px solid $color-lightGrey;
            padding:1.0rem;
        }
        & nav>ul>li>a:last-child{
            border-right:1px solid $color-lightGrey;
        }
    }  
    section.focal, 
    section.content1,
    section.content2,
    footer{
        width: 700px; 
        margin: 0 auto;    
    }
    .col-4{
        @include equalSpaced(2,0%);
    }
    section.content2{
        & h4{
            font-size: 1.414rem;
        }
    } 
    footer{
        & .fa-circle{
            color: $color-medBlue;
        }
        & .col-2:last-child{
            unicode-bidi: bidi-override;
            direction: rtl;
        }
        & h4[lang=ar]{
            display:block;
        }
        & h4[lang=de], & h4[lang=en], & h4[lang=ru]{
            display:none;
        }
    }
}

@media all and (min-width:901px) and (max-width: 1400px){
    header{
        width: 900px;
       &:before, &:after{
        width:300px;
       }
       & h1{
        color: $color-darkBlue;
       }
       & h1 i.fa-lg{
        @include fa_lg(inline, $color-darkBlue, baseline, none, 4rem, 6.3968rem);
       }
       & h1 i.fa-lg ~ span{
        float: none;
        letter-spacing: 0.25rem;
        text-align: left;
       }
       & nav{
        position: static;
        padding: 0;
       }
       & nav>ul>li{
        width:20%;
        float: left;
        background-color: $color-white;
       }
       & nav>ul>li>a{
        font-size: 1rem;
        line-height: 2rem;
        min-height: 2rem;
        border:none;
        border-left:1px solid $color-lightGrey; 
        padding: 0 1.0rem;
        margin: 1.0rem 0;
       }
       & nav>ul>li:first-child a{
        border-left:none;
       }
    }
    
    section.focal, 
    section.content1,
    section.content2,
    footer{
        width: 900px; 
        margin: 0 auto;    
    }
   section.focal{
      & h2{
        width: 600px; 
        margin: 0 auto;
       }
      & p.author{
        width: 600px; 
        margin: 0 auto;
       }
   } 

    .col-3{
        @include equalSpaced(3,5%);
       &:first-child{
        margin-left: 0;
       }
    }
   
    .col-4{
        @include equalSpaced(4,4%);
       &:first-child{
        margin-left: 0;
       }
    }
   
    section.content1 h3{
        font-weight: 100;
       & .fa-2x{
        font-size: 1.999rem;
        padding-right: 1rem;
       }
    }
    
   section.content2{
      & h4{
        font-size: 1.414rem;
       }
      & p{
        font-size: 1rem;
        font-weight: 400;
       }
   } 
    
   footer{
      & .fa-circle{
        color: $color-lightBrown;
       }
      & h4[lang=ru]{
       display:block; 
       }
      & h4[lang=de], & h4[lang=ar], & h4[lang=en]{
        display:none;
    }
   } 
}

@media all and (min-width:1401px){
    header{
        width: 1400px;
       
       &:before, &:after {
          width:450px;
       }
       
       & h1{
          color: $color-darkBrown;
       }
       & h1 i.fa-lg{
        @include fa_lg(inline, $color-darkBrown, baseline, none, 4rem, 6.3968rem);
       }
       & h1 i.fa-lg ~ span{
        float: none;
        letter-spacing: 0.25rem;
        text-align: left;
       }
       & nav{
        position: static;
        padding: 0;
       }
       & nav>ul>li{
        width:20%;
        float: left;
        background-color: $color-white;
       }
       & nav>ul>li>a{
        font-size: 1.414rem;
        line-height: 2rem;
        min-height: 2rem;
        border:none;
        border-left:1px solid $color-lightGrey; 
        padding:0 1.0rem;
        margin:1.0rem 0;
       }
       & nav>ul>li:first-child a{
        border-left:none;
       }
    }
 
    section.focal, 
    section.content1,
    section.content2,
    footer{
        width: 1400px; 
        margin: 0 auto;    
    }
   section.focal{
      & h2{
         font-size: 3.998rem;
         width: 600px; 
         margin: 0 auto;
      }
      & p.author{
         width: 600px; 
         margin: 0 auto;
      }
   } 
   .col-3{
      @include equalSpaced(3,5%);
      &:first-child{
         margin-left: 0;
      }
   }
   .col-4{
       @include equalSpaced(4,4%);
      &:first-child{
         margin-left: 0;
      }
   }
    section.content1 h3{
        font-size: 2.827rem;
        font-weight: 100;
       &  .fa-2x{
        font-size: 2.827rem;
        padding-right: 1rem;
        vertical-align: middle;
       }
    }
    
   section.content2{
      & li{
        font-size: 1.999rem;
       }
      & p{
        font-weight: 400;
       }
   } 

   footer{
      & p{
        font-size: 1.414rem;
        letter-spacing: 0.2rem;
       }
      & p:last-child{
        color: $color-lightGrey;
       }
      & .fa-circle{
        color: $color-medBlue;
       }
      & h4[lang=en]{
       display:block; 
       }
      & h4[lang=de], &h4[lang=ar], &h4[lang=ru]{
        display:none;
    }
   } 
}