$color-lightBlue:   #C7F7FF;
$color-medBlue:     #89C0C9;
$color-darkBlue:    #3a5E63;
$color-lightBrown:  #C9A689;
$color-darkBrown:   #7C593C;
$color-lightGrey:   #d4d4d4;
$color-darkGrey:    #222;
$font-stack-sans:'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font-stack-serif: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$color-white: #fff;